body {
	padding: 0px;
	margin: 0px;
	color: #444444;
	font-size: 14px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	background-image: -webkit-linear-gradient(270deg,rgba(187,185,185,1.00) 0%,rgba(50,49,49,1.00) 98.96%,rgba(31,30,30,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(187,185,185,1.00) 0%,rgba(50,49,49,1.00) 98.96%,rgba(31,30,30,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(187,185,185,1.00) 0%,rgba(50,49,49,1.00) 98.96%,rgba(31,30,30,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(187,185,185,1.00) 0%,rgba(50,49,49,1.00) 98.96%,rgba(31,30,30,1.00) 100%);
}
#wraper{
	width: 980px;
	margin: 0 auto;
	background: #ffffff;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
	
}#header {
	height: 80px;
	background-color: #921113;
	border-bottom: 4px solid #999999;
	position: relative;
	z-index: 100;
}
#logo{
	float: left;
	border-right: 1px solid rgba(255,255,255,0.4);
}
#front{
	height: 360px;
	border-bottom: 4px solid #777777;
	background-image: url(../images/Webp.net-resizeimage.jpg);
	position: relative;
	
}
#front img{
	position: absolute;
	right: 20px;
top: 20px;
}
#nav{
	float: left;
}
#nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#nav ul li {
	float:left;
	position: relative;
	
	
	
}
#nav ul li a{
	display: block;
	font-size: 16px;
    color: #ffffff;
	height: 25px;
	line-height: 25px;
	padding: 30px 20px 25px;
	font-weight: bold;
	
}
#nav ul li a:link,
#nav ul li a:visited,
#nav ul li a:active{
	color: #ffffff;
}
#nav ul li a:hover{
	background: #ffffff;
	color: #000000;
}
#nav ul ul{
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	
}
#nav ul li:hover >ul{
	display: block;
}
#nav ul ul li a {
	padding: 10px 15px;
	width: 200px;
	background: #ad0101;
}
#main{
	width: 620px;
	float: left;
	padding: 40px 14px 10px;
	border-right: 1px solid #cccccc;
	
}
#sidebar{
	width: 300px;
	float: left;
	padding: 40px 15px 10px;
	background: #eeeeee;

	
	
}
#footer{
	clear: both;
	background: #eaeaea;
	border-top: 4px solid #cccccc;
	padding: 5px 10px;
		text-align: center;
	font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	margin-bottom: 0.7em;
	text-transform: uppercase;
	
}
#main .blok h3{
	color:#cccccc
}
a,a:link,a:visited{
	color: #AD0101;
	text-decoration: none;
}
a:hover{
	color: #FF0004;
	
}
a:active{
	color: #6E6D6D;
	
	
}
.imgRight{
	float: right;
	margin:0 0 3px 6px;
	padding: 10px #eeeeee;
}
.imgLeft{
	float: left;
	margin:0 6px 3px 0px;
}
#intro p{
	padding-right: 280px;
}
.halfblok{
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
}
.nomargin{
	margin:0 !important;
	
}
.blok{
	margin:5px 0 20px; 
	overflow: hidden;
}
#main .blok h2{
	border-bottom: 3px solid #ad0101;
}
#sidebar .blok h2{
	border-bottom: 3px solid #cccccc;
	
}
#tags{
	
}
#tags ul{
	margin:0;
	padding: 0;
	list-style: none;
	
}
#tags ul li{
	float: left;
}
#tags ul li a{
	margin:0 5px 5px 0;
	padding: 6px;
	display: block;
}
#tags ul li a,
#tags ul li a:link,
#tags ul li a:visited,
#tags ul li a:active{
	background: #cccccc;
	color: #ffffff;
}
#tags ul li a:hover{
	background: #ad0101;
	color: #ffffff;
}

